<h1>New Picture</h1>

<script type="text/javascript">
$(function() {
  $("form#new_picture").submit(function() {
    if (document.getElementById("file").files.length === 0) {
      alert("No file attached");
      return false;
    } 
  });
});
</script>

<form id="s3upload" action="", method="POST" enctype="multipart/form-data">

  <input type="hidden" name="key" value="">
  <input type="hidden" name="AWSAccessKeyId" value="">
  <input type="hidden" name="acl" value="">
  <input type="hidden" name="success_action_redirect" value="">
  <input type="hidden" name="success_action_status" value="201">
  <input type="hidden" name="policy" value="">
  <input type="hidden" name="signature" value="">
  <input type="hidden" name="Content-Type" value="">

  <div class="field">
    <label>File</label>
    <input id="file" name="file" type="file" />
  </div>

  <div id="s3upload_parameters_field" class="field" style="display: none;">
    <label>Upload parameters</label>
    <span id="s3upload_parameters"></span>
  </div>
</form>

<%= render 'form', picture: @picture %>

<%= link_to 'Back', pictures_path %>
